 
    <!-- contact -->
    <link href="/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
     <link href="/css/portfolio.css" type="text/css" rel="stylesheet" media="all">
    <link href="/css/style.css" type="text/css" rel="stylesheet" media="all">

    <script src="../jquery-3.1.0.min.js"></script>
    <script src="dashBoard.js"></script>


    <section class="contact-wthree py-sm-5 py-4" id="contact">
      <div class="container pt-lg-5">
         
          <div class="row mt-4">
              <div class="col-lg-7">
                  <h5 class="cont-form" data-blast="color">Add Animal Specey</h5>
                  <div class="contact-form-wthreelayouts">

                      <form method="post" class="register-wthree" id="animals-upload">
                          <div class="form-group">
                              <label>
                                  Name of animal
                              </label>
                              <input class="form-control" type="text" placeholder="Name of animal" id="name-of-animal" name="email" required="">
                          </div>
                          <div class="form-group">
                              <label>
                                  Species
                              </label>
                              <input class="form-control" type="text" placeholder="Species" id="species-of-animal" name="email" required="">
                          </div>
                          <div class="form-group">
                              <label>
                                  Brief detail about the animal
                              </label>
                              <textarea placeholder="Please enter brief history and detail of the animal" id="brief-history" class="form-control"></textarea>
                          </div>
                          <div class="form-group mb-0">
                              <button type="submit" id="upload" class="btn btn-w3layouts btn-block  bg-theme text-white w-100 font-weight-bold text-uppercase"
                                  data-blast="bgColor">Send</button>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
         </div>
      </div>

  </section>
<!-- file upload -->